h1, h2, h3, h4, h5, h6 {
    margin:0;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
    color:#333;
    line-height: 1.6;
    margin: 0;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}

/*интро*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url(./images/intro.jpg) center no-repeat;

}
.intro_inner{
    padding-top:157px;
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}
.intro_suptitle{
    font-family:'Kaushan script';
    font-size: 55px;
    font-display: none;
    font-weight: 100;
    color: #fff;
    text-align: center;
    padding-bottom: 5px;
}
.intro_title{
    text-transform: uppercase;
    font-size: 150px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    line-height: 1;
    margin-bottom:0;
}

.intro_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 30px auto 30px;
    transition: transform 0.5s linear, background-color 0.5s linear;
}
.intro_title:hover:after{
    transform:scaleX(10);
    background-color:#f38181
}

.learn_button{
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-decoration:  none;
    color: #fff;
    border: 3px solid #fff;
    padding: 6px 29px 6px 29px;
    transition: background-color .2s linear,color .2s linear, transform .3s linear;
}
.learn_button:hover{
    background-color:white ;
    color:black;
    transform: scale(1.1);
}
/*контейнер*/
.container {
    width: 100%;
    max-width: 1080px;
    margin:0 auto;
    -webkit-background-size: cover;
    background-size: cover;
}
/*header*/
.header{ 
    width: 100%;
    position: absolute;
    padding-top: 29px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}
.nav{
    font-size:14px;
    text-transform: uppercase;
}
.nav__link{
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    text-decoration: none;
    color:#fff;
    transition: color .2s linear;
    position: relative;
}
.nav__link:after{
    content: "";
    display:block;
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .3s linear;
}
.nav__link:hover {
    color: #fce38a;
}
.nav__link:hover:after {
    display: block;
    opacity: 1;
}
.slider
{
display: flex;
justify-content: space-between;
padding-top:157px;
}
.slider_item {
width: 23%;
padding: 10px 0;
border-top: 3px solid #fff ;
opacity: 0.7;
position: relative;
transition: opacity .3s linear,transform .3s linear;
 
}
.slider_number
{
text-transform: uppercase;
color: #fff;
font-size: 20px;
font-weight: 700;
}
.slider_text
{
text-transform: uppercase;
color:#fff;
font-size: 12px;
font-weight: 100;
}
.slider_item:hover{
    opacity: 1;
    transform: scale(1.1);
    
}
.slider_item:hover:before{
content:"";
display:block;
height:3px;
width:70px;
background-color:#f38181;
z-index:1;
top:-3px;
left:0;
position: absolute;
}
.section{
    padding: 80px 0;
}
.section_header{
    text-align: center;
}
.section_suptitle {
    font-family: 'Kaushan script';
    font-size: 24pt;
    font-weight: 100;
}
.section_title   {
    text-transform: uppercase;
    font-size: 30pt;
    padding-top: 15px;
    
}
.section_title:after{
    
    content: "";
    display: block;
    box-sizing: border-box;
    position: relative;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 40px auto 40px;
}
.section_text{
    font-size: 15px;
    color: #c7c7c7;
    font-weight: 300;
    }
    huyna